*{
    box-sizing:border-box;
    margin:0em;
    padding:0em;
}

body {
    background-image: url("/image/background.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:1.5em;
    margin:1em;
    font-family:'Roboto Mono', monospace;
    font-size:13pt;
}


.details{
    font-style:italic;
    font-size:15pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
}

#contact{
    width:fit-content;
    background-color:rgb(101, 71, 122);
    color:lemonchiffon;
    font-size:large;
    padding:0.5em;
    margin:0.5em;
    border-radius:4px;
}

.reference{
    color:rgb(29, 26, 26);
    border:1px solid blue;
    padding:1.5em;
    margin:1em;
    position:relative;
    right:2em;

}

.referencetest{
    font-style:italic;
    padding:1em;
    border:1px solid blue;
    margin:1em;
}

h3 {color: rgb(64, 32, 94);font-size:x-large;font-family: 'Maven Pro', sans-serif;}


